[Unit]  
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=redis.sumanthk.us.to
Environment=CATALOGUE_HOST=catalogue.sumanthk.us.to
ExecStart=/bin/node /home/roboshop/catalogue/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target